@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Poppins');

.navbar-brand {
    font-family: 'Poppins';
    color: #339966;
    font-size: 2em;
    padding-top: 1.5%;
    padding-left: 2%;
}

.icon-names {
    font-family: 'Source Sans Pro';
}

body {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    top: 0;
    border-bottom: 1px solid #339966;
}

li {
    float: left;
    padding-top: 0.8%;
    padding-left: 1%;
}

li a:hover {
    color: #339966;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.posts {
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 1%;
}

.container {
   width: 40%; 
}

.posts h1 {
    padding-top: 1%;
    margin-left: 12%;
    font-family: 'Roboto'
}

.posts:hover {
    box-shadow: 5px 5px 5px 5px #d9d9d9;
    transition: 0.5s;
}

.timestamp {
    color: gray;
    font-family: 'Roboto';
    padding-left: 5%;
}

.posttitle {
    font-family: 'Roboto';
}

.userimage {
    width: 10%;
    height: 10%;
    /* margin-left: 10%; */
    float: left;

    -webkit-border-radius: 60px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 60px;
    -moz-background-clip: padding;
    border-radius: 60px;
    background-clip: padding-box;
}

.postimage {
    width: 100%;
    height: auto;
    padding-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.beforeimg {
    padding-left: 1%;
}